@tailwind base;
@tailwind components;
@tailwind utilities;

.gamePiece {
  @apply w-20 h-20 cursor-pointer hover:border-2 hover:border-blue-500
}

.selected {
  @apply border-2 border-blue-800
}

:root {
  @apply bg-blue-950
}

.app {
  background-image: url('/background.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @apply bg-hero-pattern bg-cover bg-no-repeat bg-center h-screen w-screen flex flex-col justify-center items-center text-white font-sans text-2xl font-bold overscroll-none
}
